@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
h1,
h2 {
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}
.container .section:nth-child(1) {
  /* background-color: #37474f; */
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' stroke-opacity='0.66'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); */
  color: rgb(238, 236, 236);
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
}
.container .section:nth-child(2) {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-size: auto;
  color: rgb(238, 236, 236);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
}
.container .section:nth-child(3) {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  color: rgb(238, 236, 236);
  background-size: cover;
}
.container .section:nth-child(4) {
  background-color: #aa3333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='800' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF7' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  color: rgb(238, 236, 236);
  background-size: cover;
}
.container .section:nth-child(5) {
  background: #1d1413;
  color: rgb(238, 236, 236);
  background-size: cover;
  background-attachment: fixed;
}
.head {
  display: flex;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;
}
.icon {
  background-size: contain;
  padding: 10%;
  width: 30px;
  height: 30px;
}
.content {
  position: relative;
  padding: 10px 0;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  scrollbar-width: none;
}
.scroll-to-view {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  color: rgba(255, 255, 255, 0.63);
  transform: scale(0.9);
}
.scroll-to-view > img {
  margin-left: 10px;
}
.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.about {
  overflow-y: auto;
  background-color: #eeecee;
  padding: 16px 24px;
  border-radius: 5px;
  color: #000000;
  text-align: center;
  max-width: 520px;
  width: 85%;
  -webkit-box-shadow: 0px 3px 5px 0px black;
  -moz-box-shadow: 0px 3px 5px 0px black;
  box-shadow: 0px 3px 5px 0px black;
}
.profile {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  max-width: 275px;
  width: 25%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 5px 0px black;
  -moz-box-shadow: 0px 3px 5px 0px black;
  box-shadow: 0px 3px 5px 0px black;
  z-index: 1;
}
.introDiv {
  height: 100%;
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
  z-index: 1;
}
.introDiv > h1 {
  font-size: 2.5em;
}
.introDiv > h2 {
  font-size: 1.75em;
}
.l1 {
  display: inline;
  background-color: #37474f;
  padding: 0 10px;
}
.l2 {
  display: inline;
  background-color: #eeecee;
  color: #000;
  padding: 0 10px;
}
.project {
  width: 100%;
  height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.first-slide {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #37474f;
  color: #eeecee;
}
.project::-webkit-scrollbar {
  width: 10px;
}
.project::-webkit-scrollbar-track {
  background: #706f6d;
}
.project::-webkit-scrollbar-thumb {
  background: #383838;
}
.project::-webkit-scrollbar-thumb:hover {
  background: #474747;
}
.gridContainer {
  padding: 20px;
  width: 100%;
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
}
.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border-radius: 5px;
  height: 100%;
  width: min-content;
  background-color: hsla(30, 2%, 16%, 0.5);
  backdrop-filter: blur(10px);
  margin: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
  transition-duration: 0.4s;
}
.card:hover {
  background-color: hsla(30, 2%, 25%, 0.5);
  box-shadow: 0px 0px 2px 2px rgb(250, 250, 250);
}
.visitBar,
.desc,
.title,
.lang {
  padding: 10px;
}
.title {
  font-size: x-large;
  text-transform: capitalize;
  font-weight: bold;
}
.desc {
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
}
.lang {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}
.lang > div {
  width: min-content;
  padding: 2px 10px;
  border-radius: 600px;
  font-size: x-small;
}
.lang-p {
  font-weight: 600;
  /* text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000; */
  /* text-shadow: 1px 1px 3px black; */
  -webkit-font-smoothing: antialiased;
}
.banner {
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 166px;
  width: 250px;
  background-color: #eeecee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-banner {
  width: 110px;
  height: 110px;
  padding: 10px;
  border-radius: 5px;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactFull {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.contact2 {
  width: 50%;
}
hr {
  border: 1px solid #727475;
  background-color: #727475;
  width: 100%;
  margin: 10px 0;
}
.contactListDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.contactList {
  list-style: none;
}
.linkBut {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: #eeecee;
  background-color: transparent;
  border: 0;
  align-items: center;
  transition-duration: 0.4s;
}
.linkBut:hover {
  cursor: pointer;
  color: #bdc0c2;
}
.iconBut {
  width: 24px;
  height: 24px;
}
.scroller {
  background-color: #00000046;
  backdrop-filter: blur(10px);
  min-width: 40px;
  padding: 10px;
  display: flex;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  z-index: 10;
  transition-duration: 0.4s;
}
.scroller > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px; /* (20*x)+((5*2)*x) here x=4 */
  flex-direction: column;
}
.titles > p {
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #eeecee;
  align-items: baseline;
  transition-duration: 0.4s;
}
.scrollBut {
  outline: none;
  background-color: rgb(26, 25, 25);
  border-radius: 50%;
  margin: 4px 0;
  height: 12px;
  width: 12px;
  border: 1px solid rgb(39, 38, 38);
  transition-duration: 0.4s;
}
.active,
.scrollBut:active {
  cursor: pointer;
  margin: 0;
  background-color: #eeecee;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}
.slider {
  width: 75%;
  max-width: 300px;
  margin-bottom: 30px;
  display: none;
  background-color: #00000046;
  border-radius: 10px 10px 0 0;
  transition-duration: 0.4s;
}
.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.nextArrow {
  top: 0;
  bottom: 0;
  left: 97%;
}
.prevArrow {
  top: 0;
  bottom: 0;
  right: 97%;
}
.arrowBut {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #2b2a29;
  border-radius: 50%;
  padding: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  transition-duration: 0.4s;
}
.arrowBut:active {
  background-color: #3f3e3c;
}
.slick-dots {
  display: flex !important;
  bottom: -26px !important;
  align-items: center;
  justify-content: center;
  padding: 3px !important;
  background-color: #000000de;
  border-radius: 0 0 10px 10px;
}
.slick-dots li.slick-active button::before {
  color: #eeecee !important;
  font-size: 15px !important;
  opacity: 1 !important;
}
.slick-dots li button::before {
  opacity: 1 !important;
  font-size: 10px !important;
  color: rgb(26, 25, 25) !important;
}
.mr5 {
  margin-right: 5px !important;
}
.h20 {
  height: 20px;
  width: 20px;
}
.github {
  border: 1px solid rgb(40, 158, 60);
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(40, 158, 60);
  color: #eeecee;
  text-decoration: none;
  font-size: small;
  margin: 20px;
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
  letter-spacing: 2px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 0.4s;
}
.github:hover {
  background-color: rgb(39, 146, 56);
  cursor: pointer;
}
.github:active,
.repo-but:active {
  border: 1px solid #2b2a29;
}
.repo-but {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(71, 108, 212);
  padding: 5px 20px;
  text-decoration: none;
  font-size: smaller;
  border-radius: 5px;
  background-color: rgb(71, 108, 212);
  color: #eeecee;
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
  letter-spacing: 2px;
  transition-duration: 0.4s;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.repo-but > span {
  height: 20px;
  line-height: 20px;
  text-align: center;
  align-items: baseline;
}
.repo-but:hover {
  background-color: rgb(64, 98, 190);
  cursor: pointer;
}
.signed-in {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.signed-out {
  text-align: center;
}
.navbar {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > h1 {
  margin-left: 10px;
}
.login {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-div {
  margin-top: 10px;
  padding: 10px;
  background-color: #eeecee;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.project-titles {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  width: 50%;
}
.sign-in-info {
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgb(132, 132, 245);
  background-color: #eeecee;
  justify-content: center;
  align-items: flex-start;
  font-size: smaller;
}
.sign-in-info > div {
  display: flex;
  align-items: center;
}
.sign-in-info > div > img {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}
.nav-buts > button {
  margin: 0 10px;
}
.msg {
  width: 100%;
  margin: 10px;
}
.added-projects {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  width: 50%;
}
.form-inline {
  width: 100%;
  display: inline-flex;
}
.form-inline-1 {
  width: 75%;
}
.form-inline-2 {
  width: 25%;
}
.link-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  min-height: 100vh;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  background-size: cover;
  color: rgb(243, 243, 243);
  padding-bottom: 120px;
}
.link-img {
  width: 100px !important;
  height: 100px !important;
  margin: 10px 0 15px 0;
}
.link-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.596);
  backdrop-filter: blur(10px);
}
.footer1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.port {
  margin: 0;
  background-color: hsl(240, 91%, 70%);
  padding: 10px 20px;
  border-radius: 500px;
  box-shadow: 0px 3px 5px 0px rgb(34, 34, 34);
  text-decoration: none;
  transition-duration: 0.4s;
}
.port:hover {
  background-color: hsl(240, 91%, 50%);
}
.links-div {
  padding: 10px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.links-ul {
  width: 100%;
  text-align: center;
  font-size: small;
  padding: 10px;
  list-style: none;
}
.links-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.links-li-span {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.link-list-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.link-list {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgba(19, 19, 19, 0.6);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  transition-duration: 0.4s;
}
.link-list:hover {
  background-color: rgba(41, 41, 41, 0.6);
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.596);
}
.link-list-div {
  width: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 15px;
  text-align: left;
}
.links {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}
.link-desc {
  color: hsl(0, 0%, 65%);
  padding-top: 5px;
  font-size: x-small;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link-url {
  font-size: x-small;
}
.not-found {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.not-found > * {
  margin: 10px;
}
.nf404 {
  font-size: 8.074em;
  font-weight: bold;
}
.nf404-p {
  color: rgb(202, 202, 202);
}
.nav-float {
  flex-direction: column;
  background-color: #ffffffaf;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.dialog {
  max-width: 1080px;
  width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 10%, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
}
.project-title {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.project-content::-webkit-scrollbar {
  width: 10px;
}
.project-content::-webkit-scrollbar-thumb {
  background: #383838;
}
.project-content::-webkit-scrollbar-track {
  background: #706f6d;
}
@media (pointer: coarse) {
  html {
    scroll-snap-type: none;
  }
}
@media (hover: hover) and (pointer: fine) {
  .scrollBut:hover {
    cursor: pointer;
    background-color: #eeecee;
    border: none;
  }
}
@media only screen and (min-width: 240px) and (max-width: 720px) {
  .contact2 {
    width: 80%;
  }
  .profile {
    flex-direction: column;
    justify-content: center;
  }
  .image {
    width: 200px;
    height: 200px;
  }
  .introDiv {
    margin: 30px 0;
    align-items: center;
    text-align: center;
    height: auto;
  }
  .introDiv > h1 {
    font-size: 2em;
  }
  .introDiv > h2 {
    font-size: 1.5em;
  }
  .gridContainer {
    display: none;
  }
  .slider {
    display: block;
  }
  .project-titles {
    width: 100%;
  }
  .added-projects {
    width: 100%;
  }
  .project-div {
    flex-direction: column;
  }
  .form-inline {
    display: block;
  }
  .form-inline-1 {
    width: 100%;
  }
  .form-inline-2 {
    width: 100%;
  }
  .project {
    height: auto;
  }
}
@media (orientation: landscape) and (pointer: coarse) {
  .contactFull,
  .project {
    justify-content: space-between;
  }
}
@media (orientation: landscape) and (max-width: 720px) {
  .profile {
    justify-content: space-between;
  }
}
